.contacts {
    background: url("https://storage.needpix.com/rsynced_images/cup-cakes-galore.jpg");
}
.contact-block {
    display: flex;
    margin-top: 30px;
    text-align: center;
}
.contact {
    width: 33%;
}
.link {
    margin-right: 10px;
}
.icon {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
