.card {
    max-width: 30%;
    border: 5px solid #fff;
    margin-right: 20px;
    margin-bottom: 25px;
    background: #fff;
}
.card-img {
    max-width: 300px;
    height: auto;
}
.card-body {
    padding: 0 15px;
}