body {
    /*background: #e8dce8;*/
    background: linear-gradient(to right, #e8dce8 0%,#eab2e5 100%);
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.title {
    font-size: 45px;
    color: #372842;
    text-align: center;
}
.nav-bar {
    background: #5f185f;
    padding: 20px ;
    margin-bottom: 40px;
}
.nav-bar a {
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
}
.nav-bar a:hover {
    text-decoration: underline;

}