.history {
    display: flex;
    margin: 30px 0;
    border: 10px solid #fff;
    background: #fff;
}
.history-img {
    max-width: 500px;
    height: auto;
    margin-right: 30px;
}
.history-txt {
    line-height: 1.5;
    font-size: 20px;
}