.home {
    background: url("https://img.gazeta.ru/files3/757/12057757/candy-pic905-895x505-47306.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    margin-top: 40px;
}
.home-txt {
    width: 30%;
    margin-left: auto;
    color: #fff;
    margin-right: 200px;
    background: rgba(185, 190, 194, 0.5);
    padding: 20px;
    line-height: 1.5;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 40px;
}